{% extends "./base.html" %}

{% block body %} 
<div class="container">
    <h1>Hello, {{ user.Name|default:"Guest" }}</h1>
    <p>Welcome to your dashboard.</p>
    <div class="user-info">
        <p><strong>Email:</strong> {{ user.email|default:"Not Available" }}</p>
        <p><strong>User ID:</strong> {{ user.id|default:"None" }}</p>
    </div>
  </div>
{% endblock body %}

{% block script %}
<script>
  function logout() {
      // Send a POST request to the logout URL
      fetch("{% url 'logout' %}", {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}' // Ensure CSRF token is sent
          },
          body: JSON.stringify({
              refresh_token: localStorage.getItem('refresh_token') // Retrieve token from localStorage
          })
      })
      .then(response => {
          if (response.ok) {
              // Clear the local storage tokens
              localStorage.removeItem('refresh_token');
              localStorage.removeItem('access_token');
              window.location.href = '/login';  // Redirect to login page
          } else {
              console.error('Logout failed:', response);
          }
      })
      .catch(error => {
          console.error('Error:', error);
      });
  }
</script>
{% endblock script %}